Filen `corpus_tools.py` inneholder verktøy for å utføre kvantive analyser av diktkorpus.

In [1]:
# Importer funksjoner 
from corpus_tools import (get_poems, # Henter dikt fra database
                          concordance, # Finner konkordanser
                          collocation, # Finner kollokasjoner
                          total_word_count, # Frekvensliste for tekstsamling
                          get_dtm,  # Frekvensliste per tekst
                          count_tokens, # Telle flere ord
                          count_token, # Tell ett ord
                          relative_collocation, # Finn relativ konkordans
                          get_reference_corpus # Hent referansekorpus fra dhlab
                          )

In [2]:
# Hent dikt fra database
poems = get_poems()

In [3]:
# Denne funksjonen teller antall forekomster av utvalgte ord
count_tokens(["fjell", "fjord"], poems)

       frequency
fjell         64
fjord         47

In [4]:
# Totalt antall ord i diktene
tot = total_word_count(poems)
tot

              frequency
,                 69401
.                 36224
og                25679
i                 15608
som                9880
...                 ...
lefled                1
g6                    1
JA                    1
fløilsøine            1
hedningglade          1

[64439 rows x 1 columns]

In [5]:
# Totalt antall ord
tot.sum()

frequency    843754
dtype: int64

In [6]:
# Konkordanse for ordet "fjell"
concordance("fjell", poems, window=25).head()

,dhlabid,concordance_index,word_index,left,token,right
0,dhlab_norn_poem_02728,1,5,f ] oi « Blandt,fjell,og li og fjord » . 1851. ) Se Norges blomsterd...
1,dhlab_norn_poem_02728,2,42,! Farvel du kvalme fangekrog ! Den vilde grane...,fjell,og li og fjord . Hør fjeldets stolte foss ! U ...
2,dhlab_norn_poem_02728,3,89,den fritt sin gang og brummer bas til os . Bru...,fjell,og li og fjord . Hyxss ! Gjoøok fra bjerkekvis...
3,dhlab_norn_poem_02728,4,138,"mund , han mener : « Takk for sist ! » Ru-ku ,...",fjell,"og og li og fjord . ¹ Denne min livsang , som ..."
4,dhlab_norn_poem_02728,5,225,"flygtig « heggeflom . » Aj , aj , aj , aj , aj...",fjell,"og li og fjord . Hør kjendte tonefald , som kl..."

In [7]:
# Hent dokumentasjonsstreng for funksjonen
??concordance

Signature:
concordance(
    token: str,
    df: pandas.core.frame.DataFrame,
    window=5,
    join=False,
) -> pandas.core.frame.DataFrame
Source:
def concordance(token: str, df: pd.DataFrame, window=5, join=False) -> pd.DataFrame:
    """Get concordance for a token in a dataframe

    Args:
        token (str): target token
        df (pd.DataFrame): target dataframe with tokens
        window (int, optional): number of tokens before and after to check. Defaults to 5.
        join (bool, optional): joined view with html. Defaults to False.

    Returns:
        pd.DataFrame: result dataframe
    """
    res = get_window(token, df, window)
    res.left = res.left.apply(lambda x: " ".join(x))
    res.right = res.right.apply(lambda x: " ".join(x))

    if join == True:
        res["concordance"] = res.left + " " + "<b>" + res.token + "</b>" + " " + res.right
        res = res.drop(["left", "token", "right"], axis=1)

    return res
File:      ~/projects/NORN/poems/corpus_tools.py
Type:      function

In [8]:
# Alternativ visning av konkordanser
# Style metdoen gir en penere visning av datarammen
concordance("fjord", poems, window=25, join=True).head(10).style

In [9]:
# Absolutte kollokasjoner av ordet "fjell"
collocation("fjell", poems, window=25).head(10)

     frequency
,          215
og         137
.          126
i           66
aa          47
paa         43
!           40
det         39
som         33
med         29

In [10]:
# relative kollokasjoner av ordet "fjell"
tot = total_word_count(poems)

In [11]:
count_token("1851", poems)

1

In [12]:
# Relativ konkordans for ordet "fjell"
relative_collocation("fjell", poems, tot, window=25).head(30)

             frequency
bokum              3.0
nattslørd          3.0
mjell              2.0
drysfer            2.0
liljurs            2.0
Smaagutten         2.0
Sorgtyngde         2.0
dunteppe           2.0
dybdernes          2.0
syljukall          2.0
skydde             2.0
hvite              2.0
bredet             2.0
blinfer            2.0
glemmigei          2.0
graakolde          2.0
dagsljos           2.0
veiftande          2.0
skoddeflaum        2.0
vintersol          2.0
lung               1.2
frygdesong         1.0
spæjar             1.0
stede              1.0
stemneleia         1.0
svnger             1.0
hopar              1.0
hundravis          1.0
skybott            1.0
peika              1.0

In [13]:
# Relativ frekvens for ordet "fjell"
(collocation("fjell", poems) / tot).sort_values(by="frequency", ascending=False).head(20)

               frequency
nattslørd            2.0
mjell                2.0
blinfer              2.0
bokum                2.0
vintersol            2.0
skoddeflaum          2.0
hvite                2.0
kjoser               1.0
rivne                1.0
risande              1.0
reiret               1.0
saftrikt             1.0
kløiver              1.0
allerftørfte         1.0
aasar                1.0
isgraatt             1.0
inover               1.0
fløyming             1.0
fløymar              1.0
læyndomsfulle        1.0

In [14]:
# Hent de 50 000 vanligste ord fra norsk 1800-tall (bøker)
ref_corpus = get_reference_corpus()

In [15]:
# Sammenlign kollokasjoner i fjell med referansekorpuset for norsk 1800-tall
relative_collocation("fjell", poems, ref_corpus, window=25).head(30)

           frequency
fjell       0.012019
blaae       0.007982
kvite       0.006745
soli        0.005917
sval        0.004021
hvite       0.003895
fjord       0.003595
rødmende    0.003325
maane       0.003109
flaug       0.002886
augo        0.002852
rein        0.002828
tind        0.002820
kven        0.002736
sjaa        0.002429
jordi       0.002415
slumrende   0.002315
utover      0.002262
kvalme      0.002262
natt        0.002229
fikk        0.002144
skil        0.002128
fritt       0.002078
ljos        0.002033
roar        0.001859
hugen       0.001859
taare       0.001808
klem        0.001802
bruka       0.001767
Vester      0.001754

In [18]:
# Hent frekvensliste per tekst (dokument-term-matrise)
dtm = get_dtm(poems)
dtm.head()

,51,Forsvarssange,.,1,Opfang,til,Totens,forsvarsforening,1889.,(,...,q1,duftglød,VISE,fioler,silkedyne,LANGT,BAG,SORTE,BJERGE,Ligge
0,1,1,13,2,1,2,1,1,1,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,9,0,0,1,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,1,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,8,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,37,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0